.row {
    border-radius: var(--mantine-radius-md);
    overflow: hidden;
    font-weight: 500;
    transition: none;
}

.row td {
    background: none;
    transition: none;
}

.selected {
    background-color: light-dark(
        var(--mantine-primary-color-6),
        var(--mantine-primary-color-8)
    ) !important;
    color: var(--mantine-color-white);
    transition: none;
}
