.connector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.lineTop {
  width: 2px;
  height: 16px;
  margin-bottom: 0;
  z-index: 0;
  transition: background-color 0.3s ease;
}

.lineBottom {
  width: 2px;
  height: 16px;
  margin-top: 0;
  z-index: 0;
  transition: background-color 0.3s ease;
}
