.root {
}

.content {
  & :global(.ProseMirror) {
    padding: 1rem;
    max-height: 400px;
    overflow: scroll;
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-sm);
    background-color: var(--mantine-color-default);
  }

  & :global(.ProseMirror-focused) {
    outline: none;
    border-color: var(--mantine-primary-color-filled);
  }
  & p {
    margin: 0;
  }
  & img {
    max-width: 100%;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-sm) 0;
  width: 100%;
  
  overflow-x: scroll;
  scrollbar-width: 0; /* Firefox */
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  & :global(.mantine-RichTextEditor-controlsGroup) {
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-sm);
    display: flex;
    flex-direction: row;
  }

  & button {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--mantine-color-default);
    &:first-of-type {
      border-top-left-radius: var(--mantine-radius-sm);
      border-bottom-left-radius: var(--mantine-radius-sm);
    }
    &:last-of-type {
      border-top-right-radius: var(--mantine-radius-sm);
      border-bottom-right-radius: var(--mantine-radius-sm);
    }
    &:hover {
      background-color: var(--mantine-color-default-hover);
    }
    &[data-active] {
      background-color: var(--mantine-primary-color-filled);
      color: var(--mantine-color-white);
    }
    & svg {
      width: 1rem;
      height: 1rem;
      display: block;
      margin: auto;
    }
  }
  .controlsWrapper {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-sm);
  }
}
