.clozeCard :global(.cloze-field) {
    vertical-align:baseline;
    padding: 0 0.25rem;
    border-radius: var(--mantine-radius-sm);
    background-color: var(--mantine-primary-color-light);
    border-bottom: solid 2px var(--mantine-primary-color-filled);

    :global(.cloze-content) {
    }

    :global(.cloze-content.occluded) {
        visibility: hidden;
    }

}