.new-notes-view {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 3.6875rem;
    @mixin larger-than $mantine-breakpoint-xs {
        padding-left: 3.5rem;
      }
    @mixin larger-than $mantine-breakpoint-lg {
    padding-left: 18.75rem;
    }

    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.new-notes-view__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.new-notes-view__content {
    flex-grow: 1;
    padding: var(--spacing-lg);
}

.new-notes-view__editor-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.new-notes-view__footer {
  padding: var(--spacing-md);
  border-top: 1px solid var(--theme-neutral-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-neutral-50);
}
