.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: var(--mantine-spacing-md);
    align-items: stretch;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 100%;
    min-width: unset;
}
.container > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.noteDisplay {
    height: 100%;
    padding: var(--mantine-spacing-sm);
    border: 1px solid;
    border-radius: var(--mantine-radius-md);
    border-color: var(--mantine-color-default-border);
}

/* dont display the card box if the screen is smaller then mantine-breakpoint-sm */
@media (max-width: 800px) {
    .noteDisplay {
        display: none;
    }
}
