.wrapper {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /*width: 2rem*/
    @mixin light {
      background: linear-gradient(
        to left,
        var(--mantine-color-white),
        transparent
      );
    }
    @mixin dark {
      background: linear-gradient(
        to left,
        var(--mantine-color-dark-7),
        transparent
      );
    }
  }
}

.breadcrumbs {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  padding-right: 1.5rem;
  /*hiding scrollbars on ios*/
  scrollbar-width: none;
  /*::-webkit-scrollbar: {
    display: none;}*/
}
