.remaining-cards-indicator {
  border-radius: var(--radius-sm);
}

.remaining-cards-indicator__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
}

.remaining-cards-indicator__icon svg {
  width: 100%;
  height: 100%;
}
