.table {
  font-size: var(--mantine-font-size-xs);
  text-align: left;
  & th {
    width: 25%;
    vertical-align: top;
  }
  & thead {
    font-family: var(--mantine-font-family-headings);
    font-size: var(--mantine-font-size-sm);

  }
}

.title {
  display: block;
}
