.root {
  &:hover {
    & [data-variant="default"] {
      @mixin dark {
        background-color: var(--mantine-color-dark-5);
      }
    }

    & [data-variant="filled"] {
      color: white !important;
      @mixin dark {
        /*backgroundColor:
          theme.colorScheme === "dark"
            ? theme.colors[color || theme.primaryColor][7]
            : undefined,*/
      }
    }
  }

  &:active {
    transition: transform 0.2s ease;
    transform: scale(0.96);
  }
}

.section {
  svg {
    stroke-width: 1.5px;
    width: 1.2rem;
  }
}
