@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(/fonts/NotoSerif-VariableFont_wdth,wght.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(/fonts/NotoSerif-Italic-VariableFont_wdth,wght.ttf)
    format("truetype");
}

:root {
  --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
