@import "fonts.css";
@import "font-sizes.css";
@import "colors.css";
@import "spacings.css";
@import "radius.css";
@import "icon-sizes.css";
@import "rings.css";
@import "shadows.css";
@import "patterns.css";
@import "transitions.css";
@import "shell.css";

:root {
  --density-compact: 0.875;
  --max-input-width: 12rem;
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
}

@supports (top: env(titlebar-area-height)) {
  :root {
    --safe-area-top: max(
      env(safe-area-inset-top, 0px),
      env(titlebar-area-height, 0px)
    );
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}

.titlebar-drag-region {
  position: fixed;
  top: 0;
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 0);
  -webkit-app-region: drag;
  app-region: drag;
  z-index: 1000;
}

.titlebar-drag-region * {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

html,
body,
#root,
.app-shell {
  color: var(--theme-neutral-900);
  background-color: var(--theme-neutral-50);
  height: calc(100% + var(--safe-area-bottom));
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

button .tabler-icon,
input .tabler-icon {
  stroke-width: 1.5px;
  width: 1.2rem;
}
