.tab[data-variant="pills"] {
  padding: 0.25rem 0.75rem;
}
.root {
  position: relative;
}
.list {
  flex-wrap: nowrap;
  overflow-x: auto;

  scrollbar-width: 0; /* Firefox */
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 3rem;
    @mixin light {
      background: linear-gradient(
        to left,
        var(--mantine-color-white),
        transparent
      );
    }
    @mixin dark {
      background: linear-gradient(
        to left,
        var(--mantine-color-dark-7),
        transparent
      );
    }
  }
}

.tabSection {
  svg {
    stroke-width: 1.5px;
    width: 1.2rem;
  }
}
