.tooltip {
    box-shadow: light-dark(
        0px 2px 4px 0px rgba(0, 0, 0, 0.1),
        0px 2px 4px 0px rgba(0, 0, 0, 0.9)
    );
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-4)
    );
    border: 1px solid
        light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
    color: var(--mantine-color-text);
    display: flex;
    align-items: center;
    gap: 0.375rem;
}
