.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: var(--spacing-xl);
}

.not-found__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  max-width: var(--max-content-width);
  width: 100%;
  text-align: center;
}

.not-found__title {
  color: var(--theme-red-600);
  font-weight: 700;
  font-size: var(--font-size-2xl);
  line-height: 1.3;
  margin: 0;
}

.not-found__message {
  color: var(--theme-neutral-700);
  margin: 0;
  font-size: var(--font-size-lg);
}
