.card {
    padding: var(--mantine-spacing-sm);
    border: solid 1px var(--mantine-color-light-border);

    p, div, ul, ol {
        margin: 0;
    }
    ul {
        padding-inline-start: 1.25rem;
    }
}

.cardWrapper {
    margin-bottom: var(--mantine-spacing-xs);
    &.dragging {
        box-shadow: var(--mantine-shadow-md);
    }
}