.spotlightButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 2.5rem;
    padding: 0rem 0.375rem;

    border: 0.0625rem solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: var(--mantine-radius-sm);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    
    font-size: var(--mantine-font-size-sm);


    .spotlightButtonSection {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }


    &.minimalMode {
        width: 2.5rem;
        padding: 0.5rem;
        .spotlightButtonIcon {
            width: 1.2rem;
            height: 1.2rem;
            margin: 0 auto;
        }
    }

}