.app-header-title__wrapper {
  width: 100%;
}

.app-header-title {
  margin: 0;
  font-weight: 600;
  color: var(--theme-neutral-900);
  font-size: var(--font-size-2xl);
  font-family: var(--font-sans);
}
