.stat {
  padding: 0.75rem;
  border-radius: var(--mantine-radius-sm);
  width: 100%;
  max-width: 7rem;
}

.statIcon {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  stroke-width: 1.7;
  opacity: initial;
}

.statValue {
  font-weight: 700;
  font-size: var(--mantine-font-size-md);

}

.statName {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}
