.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3.75rem;
  z-index: 50;
  background-color: var(--theme-neutral-50);
  backdrop-filter: blur(4rem);
  transition: box-shadow 0.3s ease;
}

@media (min-width: 577px) {
  .header {
    left: 15rem;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .header {
    left: 3.5rem;
  }
}

.header--scrolled {
  box-shadow: var(--shadow-xs);
  border-bottom: 1px solid var(--theme-neutral-200);
}

.header__content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  gap: var(--spacing-sm);
}

.header__outlet {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
