.header {
  backdrop-filter: blur(4rem);
  border-bottom: solid 1px;
  border-color: var(--mantine-color-light-border)
}

.header.scrolled {
  transition: all 0.3s;
  box-shadow: 0 -1rem 2rem 1rem rgba(0, 0, 0, 0.04), 0 -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.07);
}