.header {
  height: calc(var(--app-header-height) + var(--safe-area-top));
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: var(--theme-neutral-50);
  transition: box-shadow 0.3s ease;
  border-bottom: 1px solid var(--theme-neutral-200);
  padding-top: var(--safe-area-top);
  padding-left: var(--safe-area-left);
  padding-right: var(--safe-area-right);
}

@media (min-width: 577px) {
  .header {
    left: var(--sidebar-width);
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .header {
    left: var(--minimal-sidebar-width);
  }
}

.header--fullwidth {
  left: 0;
}

.header--scrolled {
  box-shadow: var(--shadow-xs);
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
}

.header__outlet {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
