body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  –webkit-overflow-scrolling: touch;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.mantine-AppShell-root,
.mantine-AppShell-main,
.mantine-AppShell-body {
  height: 100%;
}

button .tabler-icon, input .tabler-icon: {
  stroke-width: 1.5px;
  width: 1.2rem;
}

* {
  transition-duration: 0.2s;
  transition-property: background;
}
