.hero-deck-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  text-align: center;
  width: 100%;
  height: 15rem;
}

.hero-deck-section__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
  width: 100%;
}

.hero-deck-section__title {
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-serif);
  color: var(--theme-neutral-900);
  margin: 0;
}

.hero-deck-section__subtitle {
  font-size: var(--font-size-sm);
  color: var(--theme-neutral-700);
  margin: 0;
}

.hero-deck-section__error {
  color: #dc2626;
  font-weight: 700;
}

.hero-deck-section__button {
  width: 50%;
}

.hero-deck-section__stats-group {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  gap: var(--spacing-md);
}

@media (max-width: 24rem) {
  .hero-deck-section {
    padding: var(--spacing-xs);
  }

  .hero-deck-section__stats-group {
    gap: var(--spacing-xs);
  }

  .hero-deck-section__button {
    width: 100%;
  }
}
