.cardContainer {
  width: 100%;
  max-width: 600px;
  position: relative;
  & p:first-of-type {
    margin-top: 0;
  }
  & p:last-of-type {
    margin-bottom: 0;
  }
  & img {
    max-width: 100%;
  }
}

.footerContainer {
  padding: var(--mantine-spacing-md);
  margin-bottom: -var(--mantine-spacing-md);
  margin-left: -var(--mantine-spacing-md);
  margin-right: -var(--mantine-spacing-md);
}
