.learnView {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 3.6875rem;
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-8)
    );
    @mixin larger-than $mantine-breakpoint-xs {
        padding-left: 3.5rem;
    }
    @mixin larger-than $mantine-breakpoint-lg {
        padding-left: 18.75rem;
    }
}

.learnViewWrapper {
    position: relative;
}

.cardContainer {
    padding: var(--mantine-spacing-lg);
}
.card {
    width: 100%;
    max-width: 600px;
    position: relative;

    padding: var(--mantine-spacing-md);
    border: solid 1px var(--mantine-color-light-border);
    box-shadow: var(--mantine-shadow-xs);

    transition-property: height;
    transition-duration: 0.2s;

    & p:first-of-type {
        margin-top: 0;
    }
    & p:last-of-type {
        margin-bottom: 0;
    }
    & img {
        max-width: 100%;
    }
}

.footerContainer {
    background-color: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-dark-7)
    );
    padding: var(--mantine-spacing-md);
    border-top: solid 1px var(--mantine-color-light-border);
}

.progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
