.paper {
  background-color: var(--theme-neutral-50);
  background: var(--pattern-noise);
  border-radius: var(--radius-md);
  padding: var(--spacing-md);
  width: 100%;
}

.paper--with-border {
  border: 1px solid var(--theme-neutral-200);
}

.paper--shadow-xs {
  box-shadow: var(--shadow-xs);
}

.paper--shadow-sm {
  box-shadow: var(--shadow-sm);
}

.paper--shadow-md {
  box-shadow: var(--shadow-md);
}

.paper--shadow-lg {
  box-shadow: var(--shadow-lg);
}

.paper--shadow-xl {
  box-shadow: var(--shadow-xl);
}
