.text {
  color: var(--theme-neutral-900);
  line-height: 1.5;
}

.text--xs {
  font-size: var(--font-size-xs);
}

.text--sm {
  font-size: var(--font-size-sm);
}

.text--base {
  font-size: var(--font-size-md);
}

.text--lg {
  font-size: var(--font-size-lg);
}

.text--xl {
  font-size: var(--font-size-xl);
}

.text--normal {
  font-weight: 400;
}

.text--medium {
  font-weight: 500;
}

.text--semibold {
  font-weight: 600;
}

.text--bold {
  font-weight: 700;
}

.text--default {
  color: var(--theme-neutral-900);
}

.text--dimmed {
  color: var(--theme-neutral-600);
}

.text--primary {
  color: var(--theme-primary-600);
}
