.color-scheme-toggle {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: fit-content;
}

.color-scheme-toggle__option {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.color-scheme-toggle__option-text {
  font-size: var(--font-size-sm);
  font-weight: 600;
}
